/*=== GENERAL ===*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color: #333;
  --border-color: rgba(198, 191, 191, 0.5);
}

body {
  font-family: 'Montserrat', sans-serif;
}

/*===HEADER===*/

header {
  margin-top: 50px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 400;
}

/*=== INPUT FIELD SECTION ===*/

.input-fields {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
}

.input-fields > div {
  padding: 5px;
}

input,
select {
  height: 35px;
  text-indent: 10px;
  border-radius: 2px;
  outline: none;
  border: 1px solid var(--border-color);
}

select {
  width: 100px;
}

button {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--border-color);
}

/* Feedback if fields are empty */

small {
  margin: auto;
  color: rgba(241, 43, 43, 0.75);
  text-align: center;
}

/*== Account balance wrapper ===*/

.account-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid var(--border-color);
  margin: auto;
  color: var(--color);
  padding: 10px;
}

/* incomes and expenses */
.transactions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.transaction {
  text-align: center;
  padding: 3px;
  margin: 3px;
}

span {
  display: inline-block;
  min-width: 100px;
  text-align: center;
  border-bottom: 1px solid var(--border-color);
  margin: auto 5px;
  padding: 5px;
}

/* balance */
.balance {
  width: 80%;
  margin: auto;
  text-align: center;
}

.title {
  font-weight: 500;
  padding: 5px;
  border-bottom: 1px solid #222;
  color: #444;
  text-align: center;
  font-weight: 100;
  color: #222;
  padding: 10px;
}

p {
  text-align: center;
  font-weight: 100;
  color: #222;
  padding: 10px;
}
